<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentattendancemanagementsystem">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Student Attendance System"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentAttendanceManagementSystem">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AdminDashboard" />
        <activity android:name=".StudentDashboard" />
        <activity android:name=".TeacherDashboard" />
        <activity android:name=".AddStudentActivity" />
        <activity android:name=".MarkAttendance" />
        <activity android:name=".AddTeacherActivity" />
        <activity android:name=".ViewAttendanceActivity" />
        <activity android:name=".ViewReportsActivity" />

    </application>
</manifest>
